{% extends "main/base.html" %}

{% block title %} Question {% endblock %}

{% block content %}
  {% for question in page_obj %}
  <div class="question-div">{{page_obj.number}}. {{ question.question }}
  </div>
  
  <!-- options -->
  <div class="option-div">
    <div class="option">
      <form id="myForm{{question.id}}" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="question_id" value="{{ question.id }}" id="question_id">
      {% for option in question.options.all %}
      <div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">
    <input type="radio" id="option{{option.id}}" name="options" value="{{ option.option }}">
    </div>
  </div>
  <label for="option{{option.id}}" class="form-control my-2">{{ option.option }}</label>
</div>
      <!--<input type="radio" name="options" id="option{{option.id}}" class="radioOption" value="{{ option.option }}" class="form-control">
      <label for="option{{option.id}}" class="optionLabel">{{ option.option }}</label>-->
      {% endfor %}
      </form>
    </div>
  </div>
  {% endfor %}
  
  <!-- navigation -->
  <div class="page">        
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn" id="previous">Previous</button></a>
  {% endif %}
  {% if page_obj.has_previous and not page_obj.has_next%}
    <button id="submit" data-id="{{quiz.id}}" class="btn" onclick="submitAnswers()">Submit</button>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><button class="btn" id="next">Next</button></a>
      {% endif %}
    </div>
  </div>
{% endblock %}
